<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @beer_club.name %>
</p>

<p>
  <strong>Founded:</strong>
  <%= @beer_club.founded %>
</p>

<p>
  <strong>City:</strong>
  <%= @beer_club.city %>
</p>

<div>Members of <i><%= @beer_club.name %></i>
	<ul>
	 <% @beer_club.members.each do |member| %>
	 	
	   <li><%= link_to member.username, member %> </li>
	 <% end %>
	</ul>
</div>

<%= link_to 'Back', beer_clubs_path %>
<% if current_user %>
| <%= link_to 'Edit', edit_beer_club_path(@beer_club) %> |
<%= link_to 'Destroy this club', @beer_club, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
