<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @beer_club.name %>
</p>

<p>
  <strong>Founded:</strong>
  <%= @beer_club.founded %>
</p>

<p>
  <strong>City:</strong>
  <%= @beer_club.city %>
</p>

<div>Confirmed Members of <i><%= @beer_club.name %></i>
	<ul>
	 <% @beer_club.confirmed_members.each do |member| %>
	 	
	   <li><%= link_to member.username, member %> </li>
	 <% end %>
	</ul>
</div>

<div>Unconfirmed Members of <i><%= @beer_club.name %></i>
	<ul>
	 <% @beer_club.unconfirmed_members.each do |member| %>
	   <li>
	   		<%= link_to member.username, member %> 
	    	<% if @beer_club.confirmed_members.include?(current_user)%>
	    		
	    		<% membershipID = member.memberships.find_by_beer_club_id(@beer_club.id).id %>

	    		<%= link_to "confirm", toggle_confirmed_membership_path(membershipID), method: :post, class: "btn btn-info" %>
	    	<% end %>
	   </li>
	 <% end %>
	</ul>
</div>

<div>
	<% unless current_user.nil? %>
		<% unless current_user.beer_clubs.include?(@beer_club) %>
			<%= form_for(@membership) do |f| %>
			    <%= f.hidden_field :beer_club_id %>
			    <%= f.submit value:"Send your application", class:"btn btn-primary" %>
			<% end %>
		<% else %>
			<%= form_for(@membership, method: "delete") do |f| %>
				<%= f.hidden_field :beer_club_id %>
				<% if @beer_club.confirmed_members.include?(current_user) #current_user.memberships.find_by_beer_club_id(@beer_club.id).confirmed? %>
					<%= f.submit value: "end your membership", class:"btn btn-primary" %>
				<% else %>
					<%= f.submit value: "cancel your application", class:"btn btn-primary" %>
				<% end %>
	   		<% end %>
		<% end %>
	<% end %>
</div>

<br>
<div>
  <%= edit_and_destroy_buttons(@beer_club) %>
</div>