<p id="notice"><%= notice %></p>

<p>
  <h2><%= @user.username %></h2>
  <% if @user.admin? %>
  	<h3><span class="label label-info">admin</span></h3>
  <% end %>
  <% if @user.disabled? %>
  	<h3><span class="label label-warning">account frozen</span></h3>
  <% end %>
</p>
<p>
	Has made <%= pluralize(@user.ratings.count, 'rating') %>.<br>
	Average rating being <%= round(@user.average_rating) %>.
</p>

<p>
	<% unless @user.favorite_beer.nil? %>
		Favorite beer: <%= link_to @user.favorite_beer, @user.favorite_beer %>. <br>
	<% end %>
	<% unless @user.favorite_style.nil? %>
		Favorite style: <%= link_to @user.favorite_style, @user.favorite_style %>. <br>
	<% end %>
	<% unless @user.favorite_brewery.nil? %>
		Favorite brewery: <%= link_to @user.favorite_brewery, @user.favorite_brewery %>.
	<% end %>
</p>

<div>
	<% unless @user.ratings.empty? %><h3>Ratings:</h3> <% end %>
	<ul>
		<% @user.ratings.each do |rating| %>
	    	<li><%= link_to rating, rating.beer %>
				<% if @user == current_user %>
	    			<%= link_to 'delete', rating_path(rating.id), method: :delete, class:'btn btn-danger', data: { confirm: 'Are you sure?' } %>
	    			<%= link_to 'edit', edit_rating_path(rating), method: :get, class:'btn btn-primary' %>
    			<% end %>
    		</li>
	    <% end %>
	</ul>
</div>

<div>
	<% if @user.beer_clubs.empty? %>
		<h3><%= @user.username %> hasn't yet joined any clubs.</h3>
	<% else %>
		<h3>Member of:</h3>
		<ul>
			<% @user.beer_clubs.each do |club| %>
		    	<li><%= link_to club.name, club %></li>
		    <% end %>
		</ul>
	<% end %>
</div>
<% if @user == current_user %>
	<div>
	  <% unless @user.disabled? %>
		  <h3>Account functions</h3>
		  <%= link_to 'Edit', edit_user_path(@user), class:'btn btn-primary' %> 
		  <%= link_to 'Delete this user (yourself!)', @user, method: :delete, class:'btn btn-danger', data: { confirm: 'Are you sure?' } %>
	  <% end %>
	</div>
<% end %>
<% if current_user && current_user.admin? %>
	<div>
	  <% unless @user.disabled? %>
	  	<%= link_to "Freeze account", toggle_disabled_user_path(@user.id), method: :post, class: "btn btn-danger" %>
	  <% else %>
	  	  <%= link_to "Enable account", toggle_disabled_user_path(@user.id), method: :post, class: "btn btn-primary" %>
	  <% end %>
	</div>
<% end %>
