<p id="notice"><%= notice %></p>

<p>
  <strong>Style:</strong>
  <%= @style.style %>
</p>

<p>
  <strong>Description:</strong>
  <%= @style.description%>
</p>

<div>
  <% if @style.beers.empty? %>
    <p>This style has no beers yet!</p>
  <% else %>
    <p>
    <% c = @style.beers.count %>
    There <%= "is".pluralize(c)%> <%= pluralize(c, 'beer') %> of this style, the average score being <%= round(@style.average_rating) %>.
    </p>
    <p>
      <% @style.beers.each do |beer| %>
        <ul>
          <li><%= link_to beer, beer_path(beer) %></li>
        </ul>
      <% end %>
    </p>
<% end %>
</div>


  <%= link_to 'Back', styles_path %>
