<p id="notice"><%= notice %></p>

<h1>Listing breweries</h1>

<% cache "brewerylist-#{@order}", skip_digest: true do %>
	<p>Number of active breweries: <%= @active_breweries.count %> </p>

	<%= !@active_breweries.empty? ? (render "list", breweries: @active_breweries) : "There are no active breweries available." %>

	<p>Number of retired breweries: <%= @retired_breweries.count %> </p>

	<% #raise %>
	<%= !@retired_breweries.empty? ? (render "list", breweries: @retired_breweries) : "There are no retired breweries available." %>

<% end %>

<br><br>

<%= link_to 'New Brewery', new_brewery_path, class:"btn btn-primary" %>
<%= link_to 'List of beers', beers_path, class:"btn btn-primary" %>
