<p id="notice"><%= notice %></p>

<h2>
  <!-- <strong>Name:</strong>-->
  <%= @brewery.name %>
</h2>

<p>
  <!-- <strong>Year:</strong> -->
 <i> Established in <%= @brewery.year %></i>
</p>

<p>
  Number of beers: <%= @brewery.beers.count %>
</p>

<ul>
 <% @brewery.beers.each do |beer| %>
   <li><%= link_to beer.name, beer %> </li>
 <% end %>
</ul>

<p>
  <% if @brewery.ratings.empty? %>
  	This brewery has no ratings yet!
  <% else %>
 	 <% c = @brewery.ratings.count %>
 	 <% rating_plural = pluralize(c, 'rating') %>
 	 Has <%= rating_plural %>, average <%= @brewery.average_rating%>.
<% end %>
</p>
<div> List of all ratings:
	<ul> 
		 <% @brewery.ratings.each do |rating| %>
	  		<li> <%= rating.score%>  for <%= rating.beer.name%></li>
	 	<% end %>
	</ul>
</div>

<% if current_user %>
  <td><%= link_to 'Edit', edit_brewery_path(@brewery) %></td> |
  <td><%= link_to 'Destroy this brewery', @brewery, method: :delete, class:'btn btn-danger', data: { confirm: 'Are you sure?' } %></td> |
<% end %>
<%= link_to 'Back', breweries_path %>
