<%# add user related links to this file %>
<% if current_user %>
    <li><%= link_to 'my page', current_user %></li>
    <li><%= link_to 'rate a beer', new_rating_path %></li>
    <li><%= link_to 'join a club', new_membership_path %></li>
    <li><%= link_to 'search for bars', places_path %> </li>
    <li><%= link_to 'signout', signout_path, method: :delete, class:'btn btn-danger', data: { confirm: 'Are you sure you want to sigh out?' } %></li>
<% else %>
    <li><%= link_to 'signin', signin_path %></li>
    <li><%= link_to 'signup', signup_path %></li>
<% end %>
